/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    position: relative;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    background: rgb(103,108,251);
    background: linear-gradient(180deg, rgba(103,108,251,1) 0%, rgba(102,102,255,1) 35%, rgba(133,109,255,1) 100%);
    color: white;
}

.logo {
    position: absolute;
    bottom: -60px;
    right: -30px;
    width: 20%;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 46px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 5%;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar .b:hover {
    background-color: #ddd;
    color: black;
}

.corona_updates {
    width: 2%;
    height: 75%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.corona_updates .wrap {
    display: flex;
    flex-direction: column;
}

.news {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    border: 1px solid #444444;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #786AFE;
    transition: all .2s ease-in-out;
    color: white;
}

.corona_updates h2 {
    font-size: 38px;
}

.news:hover { transform: scale(1.1); }

.news img {
    width: 100px;
}

.news span {
    font-size: 15px;
}

.news p {
    font-size: 12px;
    color: #e2e2e2;
}

.main {
    width: 80%;
    height: 100%;
    background-color: #FFF;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    text-align: center;
    color: black;
}

.main h2 {
    padding-left: 10px;
    text-align: left;
    font-size: 25px;
}

#time {
    top: 100px;
    font-size: 180px;
    font-family: 'Orbitron';
    position: relative;
}

#popup {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, .85);
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#popup .rap {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 30px;
    border: 7px solid #2b2b2b;
    color: #aaaaaa;
    outline:
    background-color: white;
    border-radius: 50px;
    height: 70vh;
    opacity: 1;
    width: 70vw;
    text-align: center;
    background-image: url("./peace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
}

.hide {
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    border-radius: 15px;
    position: absolute;
    padding: 25px;
}

#start {
    position: relative;
    margin: 0 auto;
    top: 20%;
    width: 40%;
    font-size: 70px;
    background-color: #6A67FF;
    border: 2px solid black;
    border-radius: 15px;
    padding: 40px;
    color: white;
    transition: all .2s ease-in-out;
}

#start:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
